body {
    margin: 0;
    padding: 0;
    
   
  font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    
   
  height: 100vh; /* 100% de la altura de la ventana */
  }
  
  .sidebar {
    width: 250px;
    
   
  background-color: #333;
    padding-top: 20px;
  }
  
  .menu {
    
   
  list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    padding: 10px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    display: block;
    
   
  padding: 5px;
    transition: background-color 0.3s;
  }
  
  .menu li a:hover {
    
   
  background-color: #555;
  }